{% load static %}
<div class="sidebar-user text-center"><a class="setting-primary" href="javascript:void(0)"><i
    data-feather="settings"></i></a><img class="img-90 rounded-circle"
src="{% static 'images/dashboard/1.png' %}" alt="">
<div class="badge-bottom"><span class="badge badge-primary">New</span></div><a href="user-profile.html">
<h6 class="mt-3 f-14 f-w-600">Emay Walter</h6>
</a>
<p class="mb-0 font-roboto">Human Resources Department</p>
</div>
<nav>
<div class="main-navbar">
<div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
<div id="mainnav">
    <ul class="nav-menu custom-scrollbar">
        <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                    aria-hidden="true"></i></div>
        </li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="javascript:void(0)"><i
                    data-feather="home"></i><span>Dashboard</span></a>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
            data-feather="shield"></i><span>Authentication</span></a>
    <ul class="nav-submenu menu-content">
        <li><a href="{% url 'roles.index' %}">Roles</a></li>
        <li><a href="">Users</a></li>
    </ul>
</li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
            data-feather="git-pull-request"></i><span>File manager</span></a></li>
        
    </ul>
</div>
</nav>