{% extends 'main.html' %}

{% block content %}
<h3 id="label-username">Username</h3>
<div><input id="username"><button id="btn-join">Join Meeting</button></div>
<div class="main-grid-container">
    <div class="video-container">
        <div><video id="local-video" style="float:left;" autoplay playsinline></video></div>
        <button id="btn-toggle-audio">Audio Mute</button>
        <button id="btn-toggle-video">Video Off</button>
    </div>
    <div id="chat">
        <h3>Chat</h3>
        <div id="messages">
            <ul id="message"></ul>
        </div>

        <div><input id="msg"><button id="btn-send-msg">Send </button></div>
        <button id="btn-share-screen">Share Screen</button>
    </div> 
</div>

{% endblock %}